@using System.Security.Claims
﻿@using PrinceQ.Models.ViewModel
@model ClerkVM
@{
    ViewData["Title"] = "Clerk side";
    Layout = "_CLayout";

    // var userName = Model.Users!.ClerkNumber;
    var clerkNumber = Model.ClerkNumber!.ClerkNumber;
}

<style>

    .nextBtn.category-A, .queueBtn-A {
        color: #fff!important;
        background-color: #157347;
        border-color: #146c43;
    }
        .nextBtn.category-A:hover,
        .queueBtn-A:hover{
            color: #fff;
            background-color: #157347d1;
            border-color: #157347d1;
        }

    .nextBtn.category-B, .queueBtn-B {
        color: #000;
        background-color: #ffca2c;
        border-color: #ffca2c;
    }
        .nextBtn.category-B:hover,
        .queueBtn-B:hover{
            color: #000;
            background-color: #ffca2cbd;
            border-color: #ffca2cbd;
        }

    .nextBtn.category-C, .queueBtn-C {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
        .nextBtn.category-C:hover,
        .queueBtn-C:hover {
            color: #fff;
            background-color: #dc3545cc;
            border-color: #dc3545cc;
        }

    .nextBtn.category-D, .queueBtn-D {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0b5ed7;
    }
        .nextBtn.category-D:hover,
        .queueBtn-D:hover {
            color: #fff;
            background-color: #0b5ed7c2;
            border-color: #0b5ed7c2;
        }

    .backQueue{
        position:absolute;
        bottom: 10px;
        left: 10px;
        padding: 10px;
    }

    .item-name{
        color: #212529!important;
    }

    .item-name:hover{
        color: green!important;
    }

    .table thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    @@media (max-width: 767.98px) {
        .tableRel {
            height: 200px !important;
            overflow: auto !important;
        }

        .tableRes {
            height: 130px !important;
            overflow: auto !important;
        }
        .tableAction {
            display: flex;
            flex-direction:column;
            gap: 10px;
        }
        .tableAction button{
            font-size: 12px;
            padding: 3px;
        }

        .categoryName {
            display: none;
            font-size: 14px;
        }

        .categoryBtn, .nowServing {
            font-size: 18px;
        }

        #servingDisplay{
            font-size: 50px!important;
        }

        .mb-res, h2#ClerkNum {
            font-size: 20px;
        }

        #reserveTable,
        #fillingTable,
        #releaseTable{
            width: 100%;
            table-layout: fixed;
        }
        th, td{
            font-size: 12px;
        }

        #servingMenu{
            padding-top: 1rem!important;
            padding-bottom: 1rem!important;
        }

    }

    @@media (max-width: 1366px){
        #servingMenu {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
        }
    }

</style>

<div class="container-fluid h-100">
    <div class="row h-100">

        <!--Left Side-->
        <div class="col-3 p-0 position-relative" style="background-color: #F0F1F4; border-right: 2px solid #DEE2E6">
            <div class="py-2 px-2 d-flex align-items-center justify-content-between" style="border-bottom: 1px solid rgba(0, 0, 0, 0.5);">
                <div>
                    @* <h2 class="fst-italic" id="ClerkNum">@userName</h2> *@
                    <h2 class="fst-italic" id="ClerkNum">
                    </h2>
                </div>

                <a class="navbar-brand text-dark">
                    <img src="~/src/logo-prince.png" style="width: 60px;height: 50px;object-fit: contain;" alt="Queuing" />
                </a>
            </div>

            <!-- Serving-->
            <div class="py-3" style="border-bottom: 1px solid rgba(0, 0, 0, 0.5);">
                <div class="px-2">
                    <h3 class="nowServing fst-italic">NOW SERVING</h3>
                </div>
               
                <div class="text-center py-5" id="servingMenu">
                    <h1 id="servingDisplay" style="font-size: 80px;">----</h1>
                </div>
            </div>

            <!--Button-->
            <div class="d-grid gap-2 col-5 mx-auto py-5">
                @* <button type="button" class="btn btn-primary" id="doneBtn" type="button">Done</button> *@
                <button type="button" class="btn btn-success" id="callBtn" type="button">Call</button>
                <button type="button" class="btn btn-warning" id="reserveBtn" type="button">Reserve</button>
                <button type="button" class="btn btn-dark" id="cancelBtn" type="button">Cancel</button>
            </div>

            <!--Date & Time-->
            <div class="time position-absolute d-flex flex-column text-center w-100" style="bottom: 10px;">
                <h2 class="m-0" id="time"></h2>
                <span id="date"></span>
            </div>
        </div>

        <!--Right Side-->
        <div class="col-9 p-3 border">
            <div class="position-absolute" style="top: 5px; right: 5px;">
                <partial name="_LoginPartial" />
            </div>
            <h4 class="text-center mb-3 mb-res fst-italic">Waiting</h4>
            <div class="mb-4">

                <!--Category count-->
                <div class="d-flex justify-content-around align-items-center mt-4 waitingCont" id="WaitingCountNumber">
                </div>


            </div>

            <!------PROCESS------->
            <div class="row" style="border-top: 1px solid #5c636a">
                <div class="col-6">
                    <!------Filling Up------->
                    <div class=" pt-3">
                        <h4 class="text-center mb-res fst-italic">Filling Up</h4>
                        <div class="overflow-auto tableRel" style="max-height: 350px; height: 300px;">
                            <table id="fillingTable" class="table table-striped text-center bg-white" style="border-radius: 8px;">
                                <thead class="bg-info">
                                    <tr>
                                        <th class="w-50">No#</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="fillingQueues">
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!------Releasing------->
                    <div class=" pt-3">
                        <h4 class="text-center mb-res fst-italic">Releasing</h4>
                        <div class="overflow-auto tableRel" style="max-height: 400px; height: 300px;">
                            <table id="releaseTable" class="table table-striped text-center bg-white" style="border-radius: 8px;">
                                <thead class="bg-danger text-white">
                                    <tr>
                                        <th class="w-50">No#</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="releasingQueues">
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>



 @*            <!------PROCESS------->
            <div class="row" style="border-top: 1px solid #5c636a">
                @if(clerkNumber?.ToLower() == "clerk 1")
                {
                    <div class="col-12">
                        <!------Filling Up------->
                        <div class=" pt-3">
                            <h4 class="text-center mb-res fst-italic">Filling Up</h4>
                            <div class="overflow-auto tableRel" style="max-height: 350px; height: 300px;">
                                <table id="fillingTable" class="table table-striped text-center bg-white" style="border-radius: 8px;">
                                    <thead class="bg-info">
                                        <tr>
                                            <th class="w-50">No#</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fillingQueues">
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                }
                else if (clerkNumber?.ToLower() == "Clerk 2" || clerkNumber?.ToLower() == "Clerk 3")
                {
                    <div class="col-12">
                        <!------Releasing------->
                        <div class=" pt-3">
                            <h4 class="text-center mb-res fst-italic">Releasing</h4>
                            <div class="overflow-auto tableRel" style="max-height: 400px; height: 300px;">
                                <table id="releaseTable" class="table table-striped text-center bg-white" style="border-radius: 8px;">
                                    <thead class="bg-danger text-white">
                                        <tr>
                                            <th class="w-50">No#</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="releasingQueues">
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                }
              
            </div> *@



            <!------RESERVE------->
            <div class="pt-3" style="border-top: 1px solid #5c636a">
                <h4 class="text-center mb-res fst-italic">Reserved</h4>
                <div class="overflow-auto tableRes" style="max-height:400px; height: 200px;">
                    <table id="reserveTable" class="table table-striped text-center bg-white" style="border-radius: 8px;">
                        <thead class="bg-warning">
                            <tr>
                                <th scope="col">No#</th>
                                <th scope="col">Reserve At</th>
                                <th scope="col">Stage</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="resQueues">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Display the QueueNumber That is Not Done -->
<div class="modal fade" id="NotDoneQueues" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Waiting Queues that are not done yesterday.
                </h5>
            </div>
            <div class="modal-body px-5" id="modalContentCont">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" id="startNewBtn" data-bs-dismiss="modal">
                    Start New Serving
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/clerk/ClerkScript.js"></script>
